HOP_POSTGRES_DB=hop
HOP_POSTGRES_USER=hop
HOP_POSTGRES_PASSWORD=hop
HOP_POSTGRES_PORT=5432

HOP_REDIS_PORT=6379

HOP_OTEL_GRPC_PORT=4317
HOP_OTEL_HTTP_PORT=4318
HOP_OTEL_HEALTH_PORT=13133

HOP_DB_URL=jdbc:postgresql://localhost:5432/hop
HOP_DB_USERNAME=hop
HOP_DB_PASSWORD=hop
